                            <div class="col-4">
                                <div class="card" style="border: none;">
                                    <img src="https://static.marvelsnap.pro/cards/AbsorbingMan.webp" class="card-img"
                                        alt="Image" style="max-width: 100%">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">{{name}}</h5>
                                    </div>
                                    <!-- Button to trigger the modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#imageModal">
                                        Details
                                    </button>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="imageModal" tabindex="-1" role="dialog"
                                aria-labelledby="imageModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="imageModalLabel">Image Title 2</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Your image here -->
                                            <img src="https://static.marvelsnap.pro/cards/AbsorbingMan.webp"
                                                class="img-fluid" alt="Image">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>