<div class="container mt-4">
    <div class="row">
        <!-- Delete Deck Button -->
        <div class="col-md-8">
            <button class="btn btn-danger float-left" id="deleteDeck">Delete Deck</button>
        </div>
        <!-- Images Section (flex container) -->
        <div class="col-md-8">
            <div class="d-flex flex-wrap">
                <!-- Image items (each 100px wide) -->
                <div class="image-item">
                    <img src="https://static.marvelsnap.pro/cards/AdamWarlock.webp" alt="Image 1" width="225">
                </div>
                <div class="image-item">
                    <img src="https://static.marvelsnap.pro/cards/AdamWarlock.webp" alt="Image 2" width="225">
                </div>
                <div class="image-item">
                    <img src="https://static.marvelsnap.pro/cards/AdamWarlock.webp" alt="Image 2" width="225">
                </div>
                <div class="image-item">
                    <img src="https://static.marvelsnap.pro/cards/AdamWarlock.webp" alt="Image 2" width="225">
                </div>
            </div>
        </div>

        <!-- Description Box -->
        <div class="col-md-4">
            <div class="description-box p-3">
                <h4>Team Overview</h4>
                <p>Stats:</p>
                <p>Cost:</p>
                <p>Power:</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <!-- Delete Deck Button -->
        <div class="col-md-8">
            <button class="btn btn-danger float-left" id="deleteDeck">Delete Deck</button>
        </div>
        <!-- Images Section (flex container) -->
        <div class="col-md-8">
            <div class="d-flex flex-wrap">
                <!-- Image items (each 100px wide) -->
                <div class="image-item">
                    <img src="https://static.marvelsnap.pro/cards/AdamWarlock.webp" alt="Image 1" width="225">
                </div>
                <div class="image-item">
                    <img src="https://static.marvelsnap.pro/cards/AdamWarlock.webp" alt="Image 2" width="225">
                </div>
                <div class="image-item">
                    <img src="https://static.marvelsnap.pro/cards/AdamWarlock.webp" alt="Image 2" width="225">
                </div>
                <div class="image-item">
                    <img src="https://static.marvelsnap.pro/cards/AdamWarlock.webp" alt="Image 2" width="225">
                </div>
            </div>
        </div>

        <!-- Description Box -->
        <div class="col-md-4">
            <div class="description-box p-3">
                <h4>Team Overview</h4>
                <p>Stats:</p>
                <p>Cost:</p>
                <p>Power:</p>
            </div>
        </div>
    </div>
</div>