{{#each results}}
<div class="container">
    <div class="row">
      <!-- User Cards -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{username}}</h5>
            <a href="/search/search/decks/{{username}}" class="btn btn-primary">View Profile</a>
          </div>
        </div>
      </div>
{{/each}}