header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }
  
  .add-to-deck-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5); /* Grey transparent background */
    border: none;
    color: #fff;
    padding: 0; /* Remove padding */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    opacity: 0; /* Initially invisible */
    display: flex; /* Use flexbox to center content vertically and horizontally */
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s; /* Smooth transition effect */
  }
  
  .card:hover .add-to-deck-button {
    opacity: 1; /* Visible on hover */
  }


  .navbar a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
  
  body {
    font-family: 'Orbitron', sans-serif;
}
.navbar a {
  text-shadow: 0 0 10px #00ff00; /* Neon green glow */
}
